* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/* Navbar */

nav {
    background-color: #F4F3F3;
    display: flex;
    height: 70px;
    margin-bottom: 60px;
}

nav .kiri {
    flex: 55%;
    background-color: #F4F3F3;
    padding-left: 90px;
    display: flex;
    align-items: center;
}

nav .kiri li {
    display: inline-block;
}

nav .kiri ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.home {
    font-weight: bold;
}

nav .kanan {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 90px;
}

nav .kanan a {
    background-color: orangered;
    color: #F4F3F3;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
}

nav .kanan a:hover {
    background-color: black;
}

body {
    background-color: #E3E7EB;
}

/* Main */

.project-detail {
    align-items: center;
}

.project-detail .container {
    text-align: center;
}

.box {
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: 30px;
}

.box .left-img {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
}

.box .left-img img {
    width: 400px;
    height: 300px;
}

.box .right-box {
    display: flex;
    flex: 50%;
    justify-content: flex-start;
}

.right-content {
    width: 350px;
}

.right-content h2 {
    text-align: left;
    margin-left: 37px;
}

.calender {
    width: 250px;
    margin-left: 20px;
    display: flex;
}

.calender p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    float: right;
}

.calender img {
    margin-right: 13.512px;
    margin-left: 13.512px;
    margin-top: 1.200px;
    margin-top: 1.200px;
    width: 32px;
    float: left;
}

.clock {
    width: 250px;
    margin-left: 20px;
    display: flex;
}

.clock p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    float: right;
}

.clock img {
    margin-right: 13.512px;
    margin-left: 13.512px;
    margin-top: 1.200px;
    margin-top: 1.200px;
    width: 32px;
    float: left;
}

.icon {
    margin-top: 30px;
}

.icon-bagian-kanan {
    width: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
    display: flex;
}

.icon-bagian-kiri {
    width: 250px;
    margin-left: 40px;
    display: flex;
}

.icon-bagian-kanan p {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.icon-bagian-kiri p {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.icon-bagian-kanan img {
    width: 32px;
}

.icon-bagian-kiri img {
    width: 32px;
}

.paragraf {
    width: 100%;
}

.paragraf .list-paragraf {
    width: 60%;
    margin-top: 20px;
    margin-left: 230px;
}

.paragraf .list-paragraf .paragraf-text {
    text-align: justify;
    padding-top: 20px;
}


